/*.Image {
   background: url('../images/UN.png') ; 
  height: 105vh;
  width: 100%;
  z-index: -999;

  opacity: 0.8;
   background-repeat: no-repeat;

}

*/
.herocontainer {

  position: fixed;
  	background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #ebf4f5);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -10;
}

.tes {

	margin-top: 675px;
}