.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100;
  opacity: 0.9;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #28313b;
background-image: linear-gradient(
  315deg, 
rgb(72, 84, 97, 0.9) 0%,
rgba(72, 84, 97,0.9) 74%),
  url("../assets/images/BH.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  width: 200px;
 /* height: 100vh;*/
 height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 1;

}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-self: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  opacity: 0.7;
  margin-left: 12px;
  margin-top: 20px;
  /*height: 60px;*/
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background: #fff;
  transition: all 0.2s ease-out;
  text-decoration: none;
  opacity: 0.8;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  width: 100%;
  height: 80px;
  display: flex;
  justify-self: start;
  align-items: center;
  opacity: 0.9;
}

span {
  margin-left: 16px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  text-decoration: none;

}
.navbar-logo:hover {
text-decoration: none;
}
.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
  text-decoration: none;
}

.navbar-logout {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 35px;
  display: flex;
  align-items: center;
  text-decoration: none;
  opacity: 0.8;
  border-radius: 4px;
  width: 100%;
  margin-top: 235px;
  position: relative;

}
.navbar-logout:hover {
  background: #fff;
  transition: all 0.2s ease-out;
  text-decoration: none;
  opacity: 0.5;
}

.navbar-user {
  color: #fff;
  justify-self: start;
  text-decoration: none;
  font-size: 30px;
  display: flex;
  align-items: center;
  text-decoration: none;
  opacity: 0.8;
  border-radius: 4px;
  width: 100%;
  margin-left: 40px;
  margin-bottom: 25px;

}

.login-icon{

  color: #000;
  justify-self: start;
  text-decoration: none;
  font-size: 4rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;

}
.main {
  margin-top: 100px;
  margin-bottom: 275px;
}
