.USERPHOTO {

	width: 200px;
	height: 100px;
}
.PP{
	
	background-position: center;
 	 width: 100%;
	 opacity: 0.8;
}
.Avatar {

	min-width: 150px;
	min-height: 125px;
	position: absolute;
	margin-top: -105px;
	background-color: #fff;
	border: 20px solid ;
  	border-radius: 50px 20px;
	border-color: #fff;
	opacity: 0.5;

}
.Profile-Bar {

	margin-top: 720px;

}
/*.UpdateProf {
	margin-left: 50px;


}*/